/* style.css */
body {
    background-color: #F5D100;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: 60px auto;
}
.container h1 {
    text-align: center;
    color: #0D0B00;
}
form {
    background-color: #FEFDFA;
    padding: 30px;
    border-radius: 10px;
}

form .input-group {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 10px;
    color: #0D0B00;
}
form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.form {
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }

.submit-btn {
    width: 100%;
    border: none;
    background: #0D0B00;
    font-size: 18px;
    color: #FEFDFA;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
  }

.success {
    color: green;
}

